<!DOCTYPE html>
<html>
    <head>
        <title>Proyecto Final</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="style.css" rel="stylesheet">
    </head>
    <body class="body">
        <div id="encabezado" class="encabezado">
            <img src="LogoUCLM.png" alt="logo" class="logo">
            <div id="titulo">
                <h1>Trabajo Final</h1>
                <h2>Bienvenido a la pagina del estudio</h2>
            </div>
            <div id="grupo" class="grupo"></div>
            <div id="grupo_nombre" class="grupo_nombre">
                <h3>Mienbros del grupo</h3>
                <p>Adrián Ruiz Esteban</p>
                <p>Anderson Marroquín Rivas</p>
                <p>Mario Martin Alonso</p>
                <p>Pablo Valle Nieto</p>
            </div>
            <div id="grupo" class="grupo">
            </div>
            <div id="grupo_correo" class="grupo_correo">
                <h3>Correos</h3>
                <p>Adrián.Ruiz@alu.uclm.es</p>
                <p>Anderson.Marroquin@alu.uclm.es</p>
                <p>Mario.Martin@alu.uclm.es</p>
                <p>Pablo.Valle@alu.uclm.es</p>
            </div>
        </div>
        <div class="contenido">
            <p>Esta es la página web donde se muestran los datos del estudio</p>
            <ul>
                {% for resultado in resultados %}
                <li>{{resultado}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="cola">
            <div class="url1">
                <p>https://github.com/AdrianRuiz6/Multiagentes</p>
            </div>
            <div class="url2">
                <p>https://github.com/AdrianRuiz6/Mineria</p>
            </div>
        </div>
  </body>
</html>
